.card-pokemon{
  border: solid 1px black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card__titulo>h3{
  color: white;
}
.card__imagem{
  background-color: #616161;
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card__imagem > img{
  min-width: 80%;
  min-height: 60%;
}

.card__stats{
  padding-top:10px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.card__stats__tipoPokemon{
  color: white;
  background-color: red;
  border-radius: 5px;
  padding:5px;
  margin-right: 4px;
  font-weight: bold;
}

#divBusca{
  margin-top:5px;
  background-color:#E0EEEE;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  width:300px;
  height:32px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}

#btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:102px;
  font-weight:bold;
  background:#5F9EA0;
}
